
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Press+Start+2P&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: Outfit;
}

@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animated-gradient {
  background-size: 200% 200%; /* Double the size for smooth animation */
  animation: gradientShift 8s ease infinite; /* Adjust duration and easing */
}
.glass-overlay {
  backdrop-filter: blur(10px);
  
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  padding: 20px;
}